img{
    width: 200px;
}

#contenedor{
    background-color: rgb(26, 61, 173);
    display: flex;
    justify-content: column;
    padding: 2%;
    width: 700px;
    border-radius: 1.3rem;
    flex-wrap: wrap;
}

body{
    display: flex;
    align-items: center;
    background-color: rgb(174, 185, 219);
    flex-direction: column;
}

